*{
    padding:0px;
    margin:0px;
}
#banner{
    background-image: url('../imagini/banner.jpg');
    
    height:70px;
    width:100%;
    /*
    position:fixed;
    top:0px;
    */
    
}
#tot{
    width:900px;
    margin:0px auto;
    
    
}
body{
    background:url('https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png');
}

#meniu li{
    list-style-type: none;
    display:inline;
    padding-right:50px;
    
    
    margin:20px auto;
    
}

#meniu{
    
    padding-bottom:5px;
    padding-top:5px;
    margin-bottom:5px;
    
}
#meniu a{
    text-decoration: none;
    color:white;
}
#lista-linkuri{
    width:20%;
    float:right;
    
}
#lista-linkuri li{
    padding:10px;
    list-style-type: none;
}
#continut{
    width:75%;
    float:left;
}
 #subsol{
    width:900px;
    text-align:center;
    bottom:0%;
    right:30%;
    position:absolute;
}

.articol header{
    font-weight:bold;
    font-size:24px;
    padding-bottom:10px;
    margin-top:20px;
    font-family:Verdana;
    color:black;
}
.articol footer{
    text-align:right;
    font-style:italic;
}
.articol p{
    text-align:justify;
}
.buton{
    background-color:#49c5b6;
    border-radius:15%;
    padding:11px;
    
}
 #meniu a.buton:hover{
    transform: scale(5);
    color:purple;
    background:orange;
}

img.sangria{
   width:250px;
   height:250px;
   float:left;
   margin-right:10px;
}
img.watermelon{
   width:250px;
   height:250px;
   float:left;
   margin-right:10px;
}
img.top{
   width:250px;
   height:250px;
   float:left;
   margin-right:10px;
}
.articol a{
    color:black;
    
}
.articol a:hover{
    color:cornflowerblue;
    text-decoration: none;
    
}
#test{
    background-color:#49c5b6;
    border-radius:15%;
    padding:11px;
    
}
#test:hover{
    padding:15px;
}
.buton:hover{
    
    padding:15px;
    
}
